<!DOCTYPE html>
<html>
<head>
    <!-- ... (head content) ... -->
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- ... (navbar header content) ... -->
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>{{#navLink "/store"}}<a href="/store">Store</a>{{/navLink}}</li>
                <li>{{#navLink "/about"}}<a href="/about">About</a>{{/navLink}}</li>
            </ul>

            {{#if session.user}}
            <form class="navbar-form navbar-right">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{session.user.userName}}&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><a href="/userHistory">User History</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {{#navLink "/items"}}<li><a href="/items">Items</a></li>{{/navLink}}
                {{#navLink "/categories"}}<li><a href="/categories">Categories</a></li>{{/navLink}}
            </ul>
            {{else}}
            <form class="navbar-form navbar-right">
                <a href="/register" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
                <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
            </form>
            {{/if}}
        </div>
    </div>
</nav>

<div class="container">
    {{{body}}}
</div>

<!-- ... (footer content) ... -->

</body>
</html>
