<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Web App</title>
   <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                {{#navLink "/"}}Home{{/navLink}}
                {{#navLink "/about"}}About{{/navLink}}
                {{#navLink "/shop"}}Shop{{/navLink}}
            </ul>
        </nav>
    </header>

    <div class="content">
        {{{body}}}
    </div>

    <footer>
        <p>Footer content goes here</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
